<ion-view view-title="Add Currency">
    <div ng-controller="AddCurrencyCtrl">
        <form name="AddCurrencyForm" method="post" novalidate>
            <ion-content class="container-body">
                <div class="list">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Code</span>
                        <input ng-model="data.code" name="code" type="text" placeholder="e.g. Currency Code"
                               value="{{ data.code }}" required>
                        <div ng-messages="AddCurrencyForm.code.$error" role="alert" ng-show='AddCurrencyForm.$submitted || AddCurrencyForm.code.$dirty'>
                            <div ng-message="required" class="form-error">Please enter an issuer.</div>
                        </div>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Issuer</span>
                        <input ng-model="data.issuer" name="issuer" type="text" placeholder="Issuer Reference"
                               value="{{ data.issuer }}" required>
                        <div ng-messages="AddCurrencyForm.issuer.$error" role="alert" ng-show='AddCurrencyForm.$submitted || AddCurrencyForm.issuer.$dirty'>
                            <div ng-message="required" class="form-error">Please enter an issuer.</div>
                        </div>
                    </label>
                </div>
            </ion-content>

            <!-- Footer bar hack to get layout right -->
            <ion-footer-bar class="high-footer bar-dark">
            </ion-footer-bar>

            <button keyboard-attach class="high-footer bar bar-footer" ng-click="submit(AddCurrencyForm)" linked="clickMe">
                <h1 class="title">Add</h1>
            </button>
        </form>
    </div>
</ion-view>